RewriteEngine On

RewriteRule ^Home?$ index.php
RewriteRule ^Login?$ login.html
RewriteRule ^Admin/AggiungiAdmin?$ admin/AggiungiAdmin.php
RewriteRule ^Login?$ login.html
RewriteRule ^Login?$ login.html